:root {
  /* Font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Variables */
  --main-accent-color: #2142b2;
  --main-border-color: 1px solid #dadadf;
  --default-white: #ffffff;
  --default-icon-color: #cfced3;
}

body {
  height: 2000px;
}

i {
  color: var(--default-icon-color);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}