.navigation-bar {
    background-color: var(--default-white);
    border: var(--main-border-color);
}

.navbar-toggler:focus {
    box-shadow: unset !important;
}

.nav-link:hover,
.nav-link:hover>i {
    color: var(--main-accent-color) !important;
}

.navlink-active>i {
    color: var(--main-accent-color) !important;
}

.navbar-collapse {
    padding-top: 1rem;
    justify-content: flex-end;
}

.add-post-link {
    margin-right: auto;
    padding-right: 2rem !important;
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0 !important;
    }
}