/* Default Form Styles */
form input,
form textarea,
form .alert {
    max-width: 85%;
    margin: 1rem auto;
}

.form-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 350px;
}

.form-image,
.form-button {
    width: 100%;
}

.form-button {
    cursor: pointer;
    display: inline-block;
    padding: 6px;
    margin: 1rem auto;
}

.form-button,
form input[type="submit"],
form input[type="button"] {
    border-radius: 2rem;
    background-color: var(--default-accent-color);
    color: var(--default-white);
    transition: var(--default-transition-time);
}

.form-button:hover,
form input[type="submit"]:hover,
form input[type="button"]:hover {
    border-radius: 2rem;
    transition: var(--default-transition-time);
    background-color: var(--secondary-accent-color);
}

form input[type="submit"]:focus,
form input[type="button"]:focus {
    color: var(--default-white);
    background-color: var(--secondary-accent-color);
}

input[type="file"] {
    display: none;
}

@media screen and (max-width: 767px) {
    .form-image,
    .form-button {
        width: 85%;
    }

    .form-image-column {
        margin-bottom: 15px;
    }
}