:root {
    /* Font */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Variables */
    --default-accent-color: #2142b2;
    --default-white: #f8f8f8;
    --default-black: #212529;
    --default-grey: #555;
    --default-icon-color: #cfced3;
    --default-border: 1px solid #dadadf;
    --default-transition-time: .3s;
    --secondary-accent-color: #305ae6;
    --secondary-grey: #888;
}

/* Default General Styles */
body {
    min-height: 100vh;
    background-color: var(--default-white);
}

i {
    color: var(--default-icon-color);
    font-size: 1.5rem;
    padding: 7px;
}

main {
    margin-top: 90px;
}

/* Default Container Styles */
.container-border {
    border: var(--default-border);
    border-radius: 2.5px;
    padding: 10px;
    margin: 10px;
}

/* Global Psuedo Styles */
/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--default-white);
}

*::-webkit-scrollbar-thumb {
    background: var(--secondary-grey);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--default-grey);
}

/* Global Media Queries*/
@media screen and (min-width: 1140px) {
    .container {
        max-width: 1140px;
    }
}