.navigation-bar {
    border: var(--default-border);
    background-color: var(--default-white);
}

.navbar-toggler:focus {
    box-shadow: unset !important;
}

.nav-link:hover,
.nav-link:hover>i {
    color: var(--default-accent-color) !important;
}

.nav-link * {
    vertical-align: middle;
}

.navlink-active>i {
    color: var(--default-accent-color) !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.add-post-link {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        margin-top: 15px;
    }

    .nav-link i.fas {
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0 !important;
    }
}